daemon off;
# Supported log levels: debug, info, notice, warn, error, crit, alert, emerg
error_log /dev/stdout {{ var "LOG_LEVEL" | default "notice" }};
user nobody nogroup;
worker_processes {{ var "WORKER_PROCESSES" | default "1" }};
events {
    worker_connections  1024;
}
http {
  server {
    listen 80;
    server_name {{ var "SERVER_NAME" | default "example.com" }};
    access_log /dev/stdout;
    root /;

    location / {
      index /index.html;
    }
  }
}
